@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@font-face{
    font-family: 'Roboto Slab', serif;
}
#body {
    font-family: 'Roboto Slab', sans-serif, 'arial', 'Berlin Sans';
    display: grid;
    background-color: #AAAAAA;
    justify-content: center;
    border: 0.5em;
    padding: 0.5em;
    grid-template-areas: "firstHeader"
        "navigation"
        "mainSection"
        "secondarySection"
        "sportSection"
        "referralSection"
        "contactSection";
}

#cookies {
    position: fixed;
    border: 1px solid #444444
    background-color: #2699FB;
    z-index: 9999;
    bottom: 0;
    left: 0;
}