@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@font-face{
    font-family: 'Roboto Slab', serif;
}

<!--TAGS-->
#firstHeader{
    grid-area: firstHeaderTag
}
#navigation{
    grid-area: navigationTag
}
#mainSectopn{
    grid-area: mainSectionTag;
}
#secondarySection{
    grid-area: secondarySectionTag
}
#sportSection{
    grid-area: sportSectionTag
}
#referralSectopn{
    grid-area: referralSectopnTag;
}
#contactSection{
    grid-area: contactSectionTag
}
#footer{
    grid-area: footerTag
}
#cookies{
    grid-area: cookiesTag;
}

#body {
    font-family: 'Roboto Slab', sans-serif, 'arial', 'Berlin Sans';
    display: grid;
    background-color: #AAAAAA;
    justify-content: center;
    border: 0.5em;
    padding: 0.5em;
    grid-template-areas: "firstHeaderTag"
        "navigationTag"
        "mainSectionTag"
        "secondarySectionTag"
        "sportSectionTag"
        "referralSectionTag"
        "contactSectionTag"
        "footerTag"
        "cookiesTag";
}

#cookies {
    position: fixed;
    border: 1px solid #444444
    background-color: #2699FB;
    z-index: 9999;
    bottom: 0;
    left: 0;
}

#firstHeader, #navigation, .footer{
    text-align: center;
    font-size: 2.2em;
}

#navigation{
    font-size: 1.3em;
}

.footer{
    font-size: 0.7em;
}